header {
    background-color: #5a6c37;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CajaMain {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CajadeTodo {
    display: flex;
    flex-direction: column;
}

.LinkTitulo h2 {
    text-align: center;
}

.NavLink {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CajaTitulo {
    display: flex;
    gap: 2px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.ImagIconPrin {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.CajaIniciarSesion {
    background-color: #303d16;
    border-radius: 80px;
    height: 40px;
    width: 225px;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.CajaIniciarSesion a {
    font-size: 30px;
}

.CajaImagenIngresar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CajaImagenIngresar img {
    height: 100%;
    width: 100%;
}

.CajaRegistrarse {
    background-color: #303d16;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    border-radius: 80px;
    height: 40px;
    width: 210px;
    margin: 10px;
}

.CajaRegistrarse a {
    font-size: 30px;
}

.CajaImagenRegistrarse {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CajaImagenRegistrarse img {
    height: 100%;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #5a6c37;
    height: 100px;
    width: 100%;
    bottom: 0;
    position: end;
}

footer p {
    font-family: BubbleBobble;
    font-weight: 50;
    margin: 5px;
    padding: 0;
}